In [1]:
2*2

4

In [13]:
2/2

1.0

1

In [30]:
fruits = ["Banana" " " "Apple" " " "Pearl"] # This is a list of the available fruits at our store. (inline comment)
fruits

['Banana Apple Pearl']

In [31]:
for i in fruits:
    # I am looping through fruits available, printing them out, and.....
    # when there are no fruits left, it states that there are no fruits left.
    #
    # More.....
    print(i)
else:
   print("No fruits find left.")

Banana Apple Pearl
No fruits find left.

# Main Title
## Subtitle
### H3
#### H4

[Google](http://www.google.com)

In [33]:
digits = [3,2,1]

for i in digits:
    print(i)
else:
    print("No item left")

3
2
1
No item left

In [34]:
names = ["Bankole", "Sodiq", "Olamilekan"]
names

['Bankole', 'Sodiq', 'Olamilekan']

In [36]:
print(names[0])

Bankole

## Creating  Tuple

In [37]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [40]:
type(my_tuple)

tuple

# Slicing

In [41]:
print(my_tuple[:])

(1, 2, 3, 4)

In [43]:
print(my_tuple[2:])

(3, 4)

# Dict

In [56]:
my_car = {"Brand" : "Benz",
          "Model" : "Gle",
          "Year" : "2022"
        }
print(my_car)

{'Brand': 'Benz', 'Model': 'Gle', 'Year': '2022'}

In [59]:
my_car["Brand"]= "Toyota"
my_car["Model"]= "Camry"
print(my_car)

{'Brand': 'Toyota', 'Model': 'Camry', 'Year': '2022'}

In [61]:
my_set={1,2,3,4}
type(my_set)

set

In [70]:
import pandas as pd
d = {'col1':[10,15,20,25],'col2':[5, 4, 10, 40,],'col3':[80, 85, 95, 60]}
df=pd.DataFrame(data=d)
print(df)
count_column = df.shape[1]
print(count_column)

   col1  col2  col3
0    10     5    80
1    15     4    85
2    20    10    95
3    25    40    60
3