In [1]:
2*2

4

In [13]:
2/2

1.0

1

In [30]:
fruits = ["Banana" " " "Apple" " " "Pearl"] # This is a list of the available fruits at our store. (inline comment)
fruits

['Banana Apple Pearl']

In [31]:
for i in fruits:
    # I am looping through fruits available, printing them out, and.....
    # when there are no fruits left, it states that there are no fruits left.
    #
    # More.....
    print(i)
else:
   print("No fruits find left.")

Banana Apple Pearl
No fruits find left.

# Main Title
## Subtitle
### H3
#### H4

[Google](http://www.google.com)

In [33]:
digits = [3,2,1]

for i in digits:
    print(i)
else:
    print("No item left")

3
2
1
No item left

In [34]:
names = ["Bankole", "Sodiq", "Olamilekan"]
names

['Bankole', 'Sodiq', 'Olamilekan']

In [36]:
print(names[0])

Bankole

## Creating  Tuple

In [37]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [40]:
type(my_tuple)

tuple

# Slicing

In [41]:
print(my_tuple[:])

(1, 2, 3, 4)

In [43]:
print(my_tuple[2:])

(3, 4)

# Dict

In [56]:
my_car = {"Brand" : "Benz",
          "Model" : "Gle",
          "Year" : "2022"
        }
print(my_car)

{'Brand': 'Benz', 'Model': 'Gle', 'Year': '2022'}

In [59]:
my_car["Brand"]= "Toyota"
my_car["Model"]= "Camry"
print(my_car)

{'Brand': 'Toyota', 'Model': 'Camry', 'Year': '2022'}

In [2]:
my_set={1,2,3,4}
type(my_set)
print(my_set)
my_set.add(5)
my_set.update([6, 7, 9])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 9}

import pandas as pd
d = {'col1':[10,15,20,25],'col2':[5, 4, 10, 40,],'col3':[80, 85, 95, 60]}
df=pd.DataFrame(data=d)
print(df)
count_column = df.shape[1]
print(count_column)

# If statement

In [4]:
cashflow = 50000
if cashflow > 45000:
    print("Our restaurant is fast selling!")

Our restaurant is fast selling!

In [7]:
cashflow = 50000
if cashflow < 45000:
    print("There was loss last month!")

# Else Statement

In [9]:
cashflow = 50000
if cashflow <= 45000:
    print("Our restaurant is fast selling!")
else:
    print("Our cash flow could be better")

Our cash flow could be better

# Elif Statement

In [13]:
cashflow = 40000
if cashflow >= 50000:
    print("Our restaurant is fast selling!")
elif  cashflow <=50000:
    print("Business going well")
else:
    print("Our cash flow could be better")

Business going well

# For loops

In [21]:
menu = ["rice", "Spaghetti", "Amala"]
for i in menu:
    print(i)

rice
Spaghetti
Amala

In [ ]:
food = ["rice", "Spaghetti", "Amala"]
count = 0
for i in food:
    count = count + 1
    print("Hello we have" + " " + food[count])

# While loop

In [ ]:
count = 0
while (count < 3):
    count = count + 1
    print("No food")

# Break and Continue

In [ ]:
# break the loop, stop right there
for i in range(100):
    print(i)
    if i == 7:
     break

In [ ]:
# skip this element and continue
foods =["beans", "rice" "yam"]
for i in foods:
    if i == "beans":
       continue
    print(i)

# Input

In [ ]:
text = input ("What do you need: ")
print(text)
num1 = input("Type any number: ")
print(5*num1)
num2 = int(input("Type a number: "))
print(3*num2)

In [ ]:
question = input("choose a verb: ")
print("I",question, "to eat!")
print((question+" ")*5")

In [ ]:
import pandas as pd
d = {'Sharwama':[1,2,3,4,5],'Chicken':[2,6,8,9,7], 'Burger':[9,10,13,14,20], 'Meat pie':[20,30,14,12,6]}
df = pd.DataFrame(data=d)
print(df)

In [ ]:
import pandas as pd
d = {'Sharwama':[1,2,3,4,5],'Chicken':[2,6,8,9,7], 
     'Burger':[9,10,13,14,20], 
     'Meat pie':[20,30,14,12,6]}
df =pd.DataFrame(data=d)
total = df.sum()
all_total = df.sum().sum()
print(df)
print(total)
print(all_total)

## The Mean Function 
Then numpy mean() function is used to find the average of an array.

In [ ]:
## The mean of Sharwama in store
import numpy as np
sharwama = [10, 20, 30, 40, 50, 60, 70]
Average_sharwama = np.mean(sharwama)
print (int(Average_sharwama))

## Extract and Read Data With Pandas
Before data can be analysed, it must be imported or extracted

In [ ]:
import pandas as pd

health_care = pd.read_csv("data.csv", header=0, sep=",")

print(health_care)

In [ ]:
import pandas as pd
# Import healthcare data from a CSV file 
data = pd.read_csv('healthcare_data.csv')
print(data.head())

In [ ]:
import pandas as pd

# Example healthcare data
data = {
    'PatientID': [1, 2, 3],
    'Name': ['John Doe', 'Jane Smith', 'Alice Johnson'],
    'Age': [45, 32, 67],
    'Condition': ['Diabetes', 'Hypertension', 'Asthma']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Export to CSV
df.to_csv('health_care_data.csv', index=False)

print("Data exported successfully to 'health_care_data.csv'")
exported_data = pd.read_csv('health_care_data.csv')
pd.set_option('display.max_columns',None)
print(exported_data)
print(exported_data.info())
print(int(exported_data.describe()))

In [ ]:
import os
print("Current Working Directory:", os.getcwd())